{%extends "base_main.html"%}

{%block title%} Tables {%endblock%}

{%block content%}
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Official ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Phone number</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{row[0]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                    <td>{{row[4]}}</td>
                </tr>
                {%endfor%}

            </tbody>
        </table>
    </div>
{%endblock%}