{%extends "base_main.html"%}

{%block title%} Tables {%endblock%}

{%block content%}
    <h1>{{tb_name}}</h1>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    {% for header in table_headers%}
                    <th>{{header}}</th>
                    {%endfor%}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    {% for i in range(size)%}
                    <td>{{row[i]}}</td>
                    {%endfor%}
                </tr>
                {%endfor%}

            </tbody>
        </table>
    </div>
{%endblock%}