<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Two sets of  allows you to pass information from python to this html template-->
    <p>{{content}}</p>
    <!-- To create a for loop you'd use this example then regular for python code -->
    {% for _ in range(10) %}
    <p>{{content}}</p>
    {% endfor %}

    <!-- inside the quotes the variables from python don't need quotes again -->
    {% if number == 1 %}
    <p>number = 1</p>
    {% endif %}
</body>
</html>